<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Stripe Mock API Server</title>
  <link href='https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons' rel="stylesheet" type="text/css">
  <link href="https://unpkg.com/vuetify/dist/vuetify.min.css" rel="stylesheet" type="text/css"></link>
  <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/styles/sunburst.min.css">
  <link href="styles.css" rel="stylesheet" type="text/css">
  <link rel="icon" href="favicon.ico">
</head>
<body>
  <v-app id="app" toolbar v-cloak>
    <v-navigation-drawer permanent floating light class="transparent">
      <v-card class="ma-3">
        <div v-for="(items, index) in groups" :key="index">
          <v-list dense class="py-0">
            <v-list-tile v-for="item in items" :key="item.title" v-on:click="getList(item)">
              <v-list-tile-action>
                <v-icon>{{ item.icon }}</v-icon>
              </v-list-tile-action>
              <v-list-tile-content>
                <v-list-tile-title>{{ item.title }}</v-list-tile-title>
                <v-list-tile-sub-title v-if="item.subtitle">{{ item.subtitle }}
                </v-list-tile-sub-title>
              </v-list-tile-content>
            </v-list-tile>
          </v-list>
          <v-divider></v-divider>
        </div>
      </v-card>
    </v-navigation-drawer>
    <v-toolbar class="stripe-blue" dark>
      <v-toolbar-title>
        <img src="stripe-logo.svg" width=90 align="absmiddle">API Mock Server</v-toolbar-title>
      <v-spacer></v-spacer>
      <v-flex xs3>
        <v-select v-bind:items="organizations" v-model="organization" label="Select" dark auto single-line prepend-icon="business" hide-details></v-select>
      </v-flex>
    </v-toolbar>
    <main>
      <v-container fluid>
        <v-layout row wrap>
          <v-flex xs11>
            <v-dialog v-model="object" v-if="object" width="1000">
              <v-card>
                <v-card-title class="headline"><v-icon class="pr-2">{{ current.icon }}</v-icon> {{ current.type | capitalize }} <span class="pl-2 stripe-text-blue">{{ rawObject.id }}</span></v-card-title>
                <v-card-text><pre v-highlightjs="object"><code class="javascript"></code></pre></v-card-text>
                <v-card-actions>
                  <v-spacer></v-spacer>
                  <v-btn class="green--text darken-1" flat="flat" @click.native="object = null">Close</v-btn>
                </v-card-actions>
              </v-card>
            </v-dialog>
            <div v-if="list">
              <h6><span v-if="!current.global">{{ organization }}</span> {{ list.title }}</h6>
              <v-data-table v-bind:headers="list.headers" :items="list.items" hide-actions class="elevation-1">
                <template slot="items" scope="props">
                  <td v-on:click="getItem(props.item.id)" class="text-xs-left table-click"><v-icon>{{ current.icon }}</v-icon></td>
                  <td v-on:click="getItem(props.item.id)" v-for="item in props.item" class="text-xs-right table-click">{{ item }}</td>
                </template>
              </v-data-table>
            </div>
          </v-flex>
        </v-layout>
      </v-container>
    </main>
  </v-app>
  <script src="//unpkg.com/vue/dist/vue.js"></script>
  <script src="//unpkg.com/vuetify/dist/vuetify.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/highlight.min.js"></script>
  <script src="//cdn.jsdelivr.net/npm/vue-resource@1.3.4"></script>
  <script>
  Vue.directive('highlightjs', {
    deep: true,
    bind: function(el, binding) {
      // on first bind, highlight all targets
      let targets = el.querySelectorAll('code')
      targets.forEach((target) => {
        // if a value is directly assigned to the directive, use this
        // instead of the element content.
        if (binding.value) {
          target.textContent = binding.value
        }
        hljs.highlightBlock(target)
      })
    },
    componentUpdated: function(el, binding) {
      // after an update, re-fill the content and then highlight
      let targets = el.querySelectorAll('code')
      targets.forEach((target) => {
        if (binding.value) {
          target.textContent = binding.value
          hljs.highlightBlock(target)
        }
      })
    }
  })

new Vue({
  el: '#app',
  data: {
    organizations: ['default'],
    organization: 'default',
    list: null,
    groups: [
      [{
        global: true,
        icon: 'business',
        title: 'Organizations',
        type: 'organization',
        url: '/ui/organizations'
      }],
      [{
        icon: 'schedule',
        title: 'Plans',
        type: 'plan',
        url: '/ui/plans/__ORG__'
      }, {
        icon: 'receipt',
        title: 'Coupons',
        type: 'coupon',
        url: '/ui/coupons/__ORG__'
      }],
      [{
        icon: 'account_balance_wallet',
        title: 'Tokens',
        type: 'token',
        url: '/ui/tokens/__ORG__'
      }, {
        icon: 'credit_card',
        title: 'Cards',
        type: 'card',
        url: '/ui/cards/__ORG__'
      }, {
        icon: 'account_circle',
        title: 'Customers',
        type: 'customer',
        url: '/ui/customers/__ORG__'
      }],
      [{
        icon: 'restore',
        title: 'Subscriptions',
        type: 'subscription',
        url: '/ui/subscriptions/__ORG__'
      }, {
        icon: 'description',
        title: 'Invoices',
        type: 'invoice',
        url: '/ui/invoices/__ORG__'
      }, {
        icon: 'monetization_on',
        title: 'Charges',
        type: 'charge',
        url: '/ui/charges/__ORG__'
      }],
      [{
        icon: 'event',
        title: 'Events',
        type: 'event',
        url: '/ui/events/__ORG__'
      }, {
        icon: 'public',
        title: 'Webhooks',
        type: 'webhook',
        url: '/ui/webhooks/__ORG__'
      }],
      [{
        icon: 'web_asset',
        title: 'Requests',
        type: 'request',
        url: '/ui/requests'
      }]
    ],
    object: null,
    rawObject: null
  },
  computed: {
  },
  created: function () {
    this.$http.get('/ui/orgs').then(response => {
      this.organizations = response.body
      this.organization = this.organizations[this.organizations.length - 1]
    })
  },
  filters: {
    capitalize: function (value) {
      if (!value) return ''
      value = value.toString()
      return value.charAt(0).toUpperCase() + value.slice(1)
    }
  },
  methods: {
    formatObject: function(object) {
      var text = JSON.stringify(object, null, 2)
      text = text.replace(/"(.*?)":/g, '$1:')
      return text
    },
    getItem: function(id) {
      if (this.current.global) {
        this.organization = id
      } else {
        const url = '/ui/__TYPE__/__ORG__/__ID__'
        this.$http.get(url.replace('__ORG__', this.organization).
                       replace('__TYPE__', this.current.type).replace('__ID__', id)).
          then(function(response) {
              this.rawObject = response.body
              this.object = this.formatObject(response.body)
           })
      }
    },
    getList: function(item) {
      if (item) {
        this.current = item
        this.$http.get(item.url.replace('__ORG__', this.organization)).
          then(function(response) {
            this.object = null
            this.list = response.body
            this.list.headers.unshift({ text: '', value: 'icon', align: 'left', sortable: false })
          })
      }
    }
  }
})
</script>
</body>
</html>
