.stripe-blue {
    background-color: #3490CE !important;
}

.stripe-text-blue {
    color: #3490CE !important;
}

.table-click {
    cursor: pointer !important;
}

.code-modal {
    pointer-events: none;
}

[v-cloak] {
    display: none;
}
